<!DOCTYPE html>
<html lang="en">
<head>
    <title>Si Hay Equipo</title>

</head>
<body>
    <header>
        <h1>
            <a href="">SI HAY EQUIPO</a>
        </h1>
        <a href="{% url 'create_post' %}">Nuevo post</a>
    </header>
    {% if user.is_authenticated %}
        <p>Epale {{ user.username }}</p>
        <p><a href="{% url 'logout' }">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
        {% block content %}

        {% endblock content %}

    </div>
                    
</body>
</html>